<div>
  <h2 id="page-heading" data-cy="CommentHeading">
    <span>Comments</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-comment"
        [routerLink]="['/comment/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Comment </span>
      </button>
    </div>
  </h2>

  <suz-alert-error></suz-alert-error>

  <suz-alert></suz-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="comments?.length === 0">
    <span>No Comments found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="comments && comments.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr suzSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" suzSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" suzSortBy="text">
            <div class="d-flex">
              <span>Text</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" suzSortBy="article.id">
            <div class="d-flex">
              <span>Article</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" suzSortBy="block.id">
            <div class="d-flex">
              <span>Block</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" suzSortBy="author.id">
            <div class="d-flex">
              <span>Author</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let comment of comments; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/comment', comment.id, 'view']">{{ comment.id }}</a>
          </td>
          <td>{{ comment.text }}</td>
          <td>
            <div *ngIf="comment.article">
              <a [routerLink]="['/article', comment.article.id, 'view']">{{ comment.article.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="comment.block">
              <a [routerLink]="['/block', comment.block.id, 'view']">{{ comment.block.id }}</a>
            </div>
          </td>
          <td>
            {{ comment.author?.id }}
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/comment', comment.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/comment', comment.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(comment)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="comments && comments.length > 0">
    <div class="d-flex justify-content-center">
      <suz-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></suz-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
