<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="suz-comment-heading" data-cy="CommentCreateUpdateHeading">Create or edit a Comment</h2>

      <div>
        <suz-alert-error></suz-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_text">Text</label>
          <input type="text" class="form-control" name="text" id="field_text" data-cy="text" formControlName="text" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_article">Article</label>
          <select
            class="form-control"
            id="field_article"
            data-cy="article"
            name="article"
            formControlName="article"
            [compareWith]="compareArticle"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="articleOption" *ngFor="let articleOption of articlesSharedCollection">{{ articleOption.id }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_block">Block</label>
          <select class="form-control" id="field_block" data-cy="block" name="block" formControlName="block" [compareWith]="compareBlock">
            <option [ngValue]="null"></option>
            <option [ngValue]="blockOption" *ngFor="let blockOption of blocksSharedCollection">{{ blockOption.id }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_author">Author</label>
          <select
            class="form-control"
            id="field_author"
            data-cy="author"
            name="author"
            formControlName="author"
            [compareWith]="compareUser"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="userOption" *ngFor="let userOption of usersSharedCollection">{{ userOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
