<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="suz-space-heading" data-cy="SpaceCreateUpdateHeading">Create or edit a Space</h2>

      <div>
        <suz-alert-error></suz-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_title">Title</label>
          <input type="text" class="form-control" name="title" id="field_title" data-cy="title" formControlName="title" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_projectCode">Project Code</label>
          <input
            type="text"
            class="form-control"
            name="projectCode"
            id="field_projectCode"
            data-cy="projectCode"
            formControlName="projectCode"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_icon">Icon</label>
          <input type="text" class="form-control" name="icon" id="field_icon" data-cy="icon" formControlName="icon" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_organization">Organization</label>
          <select
            class="form-control"
            id="field_organization"
            data-cy="organization"
            name="organization"
            formControlName="organization"
            [compareWith]="compareOrganization"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="organizationOption" *ngFor="let organizationOption of organizationsSharedCollection">
              {{ organizationOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_owner">Owner</label>
          <select class="form-control" id="field_owner" data-cy="owner" name="owner" formControlName="owner" [compareWith]="compareUser">
            <option [ngValue]="null"></option>
            <option [ngValue]="userOption" *ngFor="let userOption of usersSharedCollection">{{ userOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
